@using Integrant4.Element.Constructs.Tagging
<div class="I4E-Layout-Panel">
    <div class="I4E-Layout-Panel-Inner">
        @_selector.Renderer()
                
        <br>
        <br>
        
        @_tagSelector.Renderer()
        @_basicTagSelector.Renderer()

        <br>
        <br>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Tags</th>
            </tr>
            </thead>

            <tbody>
            @foreach (User user in MatchedUsers())
            {
                <tr>
                    <td>@user.ID</td>
                    <td>@user.FirstName</td>
                    <td>@user.LastName</td>
                    <td>
                        @foreach (ITag tag in user.Tags)
                        {
                            @tag.RenderSelectable(_tagSelector)
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>