@page "/elements"

<ul>
    <li>@_intInput.Render()</li>
    <li>@_intInput0Null.Render()</li>
    <li>@_decimalInput.Render()</li>
    <li>@_decimalInput0Null.Render()</li>
    <li>@_decimalInputStepped.Render()</li>
    <li></li>
    <li>@_checkboxInput.Render()</li>
</ul>