@page "/elements"
@using Integrant4.Element.Bits

<style>
    li {
        margin: 3px 0;
        vertical-align: middle;
    }
</style>

@_header.Renderer()

<br>
@_dropdown1.Renderer()
<br>
<br>
<br>

<ul>
    <li>@_intInput.Renderer()</li>
    <li>@_intInput0Null.Renderer()</li>
    <li>@_decimalInput.Renderer()</li>
    <li>@_decimalInput0Null.Renderer()</li>
    <li>@_decimalInputStepped.Renderer()</li>
    <li></li>
    <li>@_checkboxInput.Renderer()</li>
</ul>

<ul>
    <li>@_buttonNoIcon.Renderer()</li>
    <li>@_buttonOnlyIcon.Renderer()</li>
    <li>@_buttonIconFirst.Renderer()</li>
    <li>@_buttonIconLast.Renderer()</li>
</ul>

<ul>
    @foreach (Button button in _buttonsColored)
    {
        <li>@button.Renderer()</li>
    }
</ul>

<ul>
    <li>@_chip.Renderer()</li>
    <li>@_chipLink.Renderer()</li>
    <li></li>
    <li>@_checkbox.Renderer()</li>
    <li></li>
    <li>@_link1.Renderer()</li>
    <li>@_link2.Renderer()</li>
    <li>@_link3.Renderer()</li>
    <li>@_link4.Renderer()</li>
</ul>

<div style="height: 200px" class="sbar">
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
    <div>a</div>
</div>


<ul>
    @foreach (Button button in _buttonsScaled)
    {
        <li>@button.Renderer()</li>
    }
    @foreach (Chip chip in _chipsScaled)
    {
        <li>@chip.Renderer()</li>
    }
    @foreach (Link link in _linksScaled)
    {
        <li>@link.Renderer()</li>
    }
</ul>