@page "/"
@using System.Security.Cryptography

<style>
    li {
        margin: 3px 0;
        vertical-align: middle;
    }
</style>

<div class="I4E-Layout-Panel">
    @_header.Renderer()

    <div class="I4E-Layout-Panel-Inner">
        <h1>Web</h1>

        <br>

        @_combobox.Renderer()

        <button @onclick="@(() => { _comboboxDisabled = true; _combobox.Refresh(); })">Disable</button>
        <button @onclick="@(() => { _comboboxDisabled = false; _combobox.Refresh(); })">Enable</button>
        
        <br>

        <div class="I4E-Layout-InfoTable">
            <table class="I4E-Layout-InfoTable-Inner">
                <tr>
                    <td>First name</td>
                    <td>@(_structureInstance.GetTyped<string?>(nameof(Dog.NameFirst)).Input!.Renderer())</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>@(_structureInstance.GetTyped<string?>(nameof(Dog.NameLast)).Input!.Renderer())</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>@(_structureInstance.GetTyped<int?>(nameof(Dog.Age)).Input!.Renderer()) </td>
                    <td>@_ageValidationView.Renderer()</td>
                </tr>
                <tr>
                    <td>Breed</td>
                    <td>@(_structureInstance.GetTyped<string?>(nameof(Dog.Breed)).Input!.Renderer())</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3">@_overallValidationView.Renderer()</td>
                </tr>
            </table>
        </div>

        <span style="font-size: 25px">
            <button class="I4E-Bit-Button I4E-Bit-Button--Default" @onclick="@Reset">Reset</button>
            <button class="I4E-Bit-Button I4E-Bit-Button--Default" @onclick="@Refresh">Refresh</button>
        </span>

        <br>
        <br>
        <br>

        <div class="I4E-Layout-InfoTable">
            <table class="I4E-Layout-InfoTable-Inner">
                <tr>
                    <td>First name</td>
                    <td>Annabell</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Ruckman</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Breed</td>
                    <td>Rat Terrier</td>
                </tr>
            </table>
        </div>

        <div class="I4E-Layout-InfoTable I4E-Layout-InfoTable--Bordered">
            <table class="I4E-Layout-InfoTable-Inner">
                <tr>
                    <td>First name</td>
                    <td>Annabell</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Ruckman</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Breed</td>
                    <td>Rat Terrier</td>
                </tr>
            </table>
        </div>

        <div class="I4E-Layout-InfoTable I4E-Layout-InfoTable--Bordered">
            <table class="I4E-Layout-InfoTable-Inner">
                <thead>
                <tr>
                    <th colspan="2">Table header</th>
                </tr>
                </thead>
                <tr>
                    <td>First name</td>
                    <td>Annabell</td>
                </tr>
                <tr>
                    <td>Last name</td>
                    <td>Ruckman</td>
                </tr>
                <tr>
                    <td>Age</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Breed</td>
                    <td>Rat Terrier</td>
                </tr>
            </table>
        </div>

        <br>
        <br>
        <br>

        <div class="I4E-Layout-ListTable">
            <table class="I4E-Layout-ListTable-Inner">
                <thead>
                <tr>
                    <th>Head 1</th>
                    <th>Head 2</th>
                    <th>Head 3</th>
                </tr>
                </thead>
                <tbody>

                @for (var i = 1; i <= 5; i++)
                {
                    <tr>
                        <td>Value @i.1</td>
                        <td>Value @i.2</td>
                        <td class="Mono">Value @i.3</td>
                    </tr>
                }
                @for (var i = 1; i <= 5; i++)
                {
                    <tr class="Green">
                        <td>Green @i.1</td>
                        <td class="PreWrap">Green @i.2</td>
                        <td>Green @i.3</td>
                    </tr>
                }
                @for (var i = 1; i <= 5; i++)
                {
                    <tr class="Red">
                        <td class="Center">Red @i.1</td>
                        <td>Red @i.2</td>
                        <td>Red @i.3</td>
                    </tr>
                }
                <tr>
                    <td colspan="3" class="Empty">No results</td>
                </tr>
                </tbody>
            </table>
        </div>

        <br>
        <br>
        <br>

    </div>
</div>