@page "/tables"

@using Integrant4.Element.Constructs

<div class="I4E-Layout-Panel">
    <div class="I4E-Layout-Panel-Inner">
        <h1>Tables</h1>

        <button @onclick="@(() => _userTable.Sort(nameof(User.FirstName), PagedTable<User>.SortDirection.Ascending))">First name ascending</button>
        <button @onclick="@(() => _userTable.Sort(nameof(User.FirstName), PagedTable<User>.SortDirection.Descending))">First name descending</button>
        <button @onclick="@(() => _userTable.Sort(nameof(User.LastName), PagedTable<User>.SortDirection.Ascending))">Last name ascending</button>
        <button @onclick="@(() => _userTable.Sort(nameof(User.LastName), PagedTable<User>.SortDirection.Descending))">Last name descending</button>
        <button @onclick="@(() => _userTable.UnSort())">Un-sort</button>

        <PagedTableSortButton TRow="User" Table="@_userTable" ID="@(nameof(User.FirstName))"/>
        <PagedTableSortButton TRow="User" Table="@_userTable" ID="@(nameof(User.LastName))"/>

        <div class="I4E-Layout-ListTable BorderedHeaderCells BorderedBodyCells">
            <table class="I4E-Layout-ListTable-Inner">
                <thead>
                <tr>
                    <td></td>
                    <td>
                        <PagedTableButtons TRow="User" Table="@_userTable"/>
                    </td>
                </tr>
                </thead>
                <tbody>
                <PagedTableRows TRow="User" Table="@_userTable">
                    @foreach (User user in _userTable.RowsInView())
                    {
                        <tr>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                        </tr>
                    }
                </PagedTableRows>
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <PagedTablePageInfo TRow="User" Table="@_userTable"></PagedTablePageInfo>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>

    </div>
</div>