@using Blazored.LocalStorage
@inherits LayoutComponentBase
@inject ILocalStorageService StorageService
@_solidsVariantLoader.RenderStylesheets()
@if (_defaultVariantLoader.Complete)
{
    @Configuration.ResourceSet.RenderVariableResources(new Dictionary<string, string>
    {
        {"ThemeVariant", _defaultVariantLoader.Variant!},
    })
    @_defaultVariantLoader.RenderStylesheets()
    <div class="I4-App" data-i4-theme-variant="@_defaultVariantLoader.Variant">
        @* @_header.Renderer() *@
        @_header2.Renderer()
        @Body
    </div>
    @_defaultVariantLoader.RenderDropdown()
}